extends layout

block content
  .error-container
    h1= message || 'Error'
    h2= error.status || '500'
    
    if error.stack && env === 'development'
      pre.error-stack= error.stack
    
    a.button(href="/") back