doctype html
html
  head
    title Book App
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      h1 Book Review App
      nav
        a(href="/books") All Books |
        a(href="/books/create") Add Book
    main
      block content
